/auto-traffic-monitoring/results/
/external/
/previous_results/
/previous_code/
/detection/detectron2_model_weights/
/camera/models/
/tracking/deep_sort_model_weights/
/input/scripts/frames/
/input/landmarks/
/input/videos/
/tests/results/
